<p class="flash"><%= flash[:fail] %></p>
<%= render "checked_article.html.erb" %>
<div class="container">
  <p class="articles_view">＜みんなの投稿＞</p>
  <form class="search_form">
    <label for="search">
      <%= fa_icon("search") %>
    </label>
    <input type="text" id="search" placeholder="メモのタイトルを入力して検索">
  </form>
  <ul class="article_list" >
    <% @articles.each do |article| %>
      <li class="article">
        <div class="article__title">
          <%= link_to article.title, article_path(article.id) %>
        </div>
        <p><%= article.user.name %>さんの投稿</p>
      </li>
    <% end %>
  </ul>
  <%= paginate @articles %>
</div>