<%= render "checked_article.html.erb" %>
<div class="container">
<p class="writer"><%= @article.user.name %>さんの投稿</p>
<h2 class="article_show_title"><%= @article.title %></h1>
<div class="article_area"><%= simple_format(h(@article.body) )%></div>

<% if user_signed_in? && @article.user.id == current_user.id %>
  <div class="select_area">
    <%= link_to edit_article_path(@article.id) do %>
    <div class="select_area__button">編集</div>
    <% end %>

    <%= link_to article_path(@article.id), method: :delete, id: "delete" do %>
    <div class="select_area__button">削除</div>
    <% end %>
  </div>
<% end %>
</div>
