<!DOCTYPE html>
<html>
  <head>
    <title>プロメモ</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%# <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> %>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  </head>

  <body>
  
  <header>
    <div class="header">
        <%= link_to "プロメモ", root_path, class: "header_title"%>
      <div class="header_button">
        <%= link_to "投稿する", new_article_path, class: "header_button_post" %>
        <div class="header_button_user">
          <% if user_signed_in? %>
            <%= current_user.name %>さん
          <% else %>
            ようこそゲストさん
          <% end %>
          <%= fa_icon("caret-down") %>
          <div class="menu">
              <% if user_signed_in? %>
                <%= link_to 'マイページ', user_path(current_user.id) %>
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
              <% else %>
                <%= link_to '新規登録',new_user_registration_path %>
                <%= link_to 'ログイン', new_user_session_path %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>
  
    <%= yield %>
  </body>
</html>
